* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;

}


html {
    background-size: 100%;
    background-attachment: fixed;
    background-image: url(https://media.brainly.com.br/image/rs:fill/w:1080/q:75/plain/https://pt-static.z-dn.net/files/d77/b877437c3a9f272936c6e61616afbadd.jpg);
}

body {
    line-height: 1.6;
    background-color: #a3a3a3;
}





.navbar {
    background-color: #2e2b2b;
    padding: 1rem;
    display: flex;
    gap: 1250px;
    font-size: larger;
    font-family: 'Montserrat';
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}


.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: #000000;
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

#Início {
    border: 2px solid #000000;
}

#serie_1 h2 {
    color: #000000;
}

#serie_2 h2 {
    color: #000000;
}

#serie_3 h2 {
    color: #000000;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}